* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    min-height: 100vh;
    padding: clamp(1rem, 2vw, 2rem);
    justify-content: center;
}

.upper_box {
    width: 100%;
    height: clamp(10rem, 8vw, 8rem);
    width: 100%;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(0.5rem, 1vw, 1rem);
    /* border: 2px solid green; */
}

.score_board {
    width: clamp(100px, 15%, 200px);
    height: 100%;
    padding: clamp(0.25rem, 0.5vw, 0.5rem);
    margin-top: 1rem;
}

.score_board p {
    text-align: center;
    font-size: clamp(3.5rem, 2.5vw, 2.5rem);
    margin: clamp(0.25rem, 0.5vw, 0.5rem) 0;
}

.score_board h3 {
    text-align: center;
    font-size: clamp(1.5rem, 1.2vw, 1.2rem);

}

.lower_box{
    width: 100%;
    height: clamp(40rem , 40vh , 40rem);
    margin-top: clamp(1rem , 2rem , 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid magenta; */
}

.gameArea{
    width: clamp(20rem , 60% , 80rem);
    height: auto;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}