.instruction p{
    color: red;
    font-size: clamp(1rem , 1.5rem , 2rem);
    font-weight:bold;
    text-align: center;
    margin-bottom:0.5rem;
    display: block;
}
.dice_numbers {
     display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: clamp(200px, 40%, 500px);
    height: 100%;
}

.btn {
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: clamp(0.5rem, 1vw, 1rem);
    /* padding: clamp(4px, 1vw, 8px); */
    justify-content: center;
    align-items: center;
}

.btn button {
    width: clamp(2.5rem, 3vw, 3rem);
    height: clamp(2.5rem, 3vw, 3rem);
    font-size: clamp(0.8rem, 1vw, 1rem);
    font-weight: bold;
    transition: all 0.3s ease;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-weight: bold;

}

@media screen and (max-width: 480px) {
    .upper_box {
        flex-direction: column;
        gap: 0.5rem;
        height: auto;
    }

    .score_board {
        width: 90%;
    }

    .dice_numbers {
        width: 90%;
    }

    .btn:active{
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
    }
}
.btn button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

/* .dice_numbers h3 {
    text-align: center; 
    font-size: clamp(0.8rem, 1.2rem, 1.2rem);
    margin-top: 1rem;
    border: 1px solid black;
} */
.dice_numbers h3 {
    text-align: center; 
    font-size: clamp(0.8rem, 1.2rem, 1.2rem);
    font-size: 1.5rem;
}

