.mainbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    padding: 0.5rem;
    
}


.image{
    width: 250px;
    height: 250px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}
.lowerbox{
    height: clamp(5rem , 10rem , 10rem);
    width: 15rem; 
    margin: 1.5rem;
   align-content: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.lowerbox p{
    text-align: center;
    font-size: 1.5rem;
}
.resetbtn{
    width: 80%;
    height: 2rem;
    margin-top: 1.5rem;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
}
.showRulesbtn{
   width: 80%;
    height: 2rem;
    margin-top: 1.5rem;
     /* border: 2.8px solid white; */
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
}

.resetbtn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transform: all 0.3s ease;
    height: clamp(2rem , 2.5rem , 3rem);
    width: clamp(5rem , 10rem , 12rem);
    font-size: clamp(1rem , 1.2rem , 1.5rem);
}
.showRulesbtn:hover{
 cursor: pointer;
    background-color: white;
    color: black;
    transform: all 0.3s ease;
    height: clamp(2rem , 2.5rem , 3rem);
    width: clamp(5rem , 10rem , 12rem);
    font-size: clamp(1rem , 1.2rem , 1.5rem);
}
.rulebox{
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(255, 224, 229);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    display: none;
}